.wy-nav-content {
    position: relative;
}

.wy-nav-content::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('/_static/watermark/watermark.png');
    background-size: repeat;
    opacity: 0.05;
    pointer-events: none;
    /* Allow interactions with content behind the overlay */
}